.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
}
#titulo{
    animation-name: leftToRight;
    animation-duration: 1s;
    text-align: center;
}
#chefSpan{
    color: #a16016;
}
.receitasContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.receitaContainer{
    width: 19rem;
    -webkit-box-shadow: 0px 0px 34px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 34px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 34px -11px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
    transition: ease-in-out .4s;
    user-select: none;
    animation-name: scale;
    animation-duration: 3s;
}
.imgContainer{
    width: 16rem;
    height: 10.2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    >div>img{
        width: 100%;
    }
}
.receitaContainer:hover{
    >div>img{
        transform: scale(1.3);
        transform-origin: 50% 50%; 
    }
    -webkit-box-shadow: 0px 0px 32px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px -6px rgba(0,0,0,0.75);
    .buyButton{
        background-color: #ffbd2d;
        color: white;
    }
}
.receitaImage{
    width: 100%;
    transition: transform .4s;
}
.horizontalFlex{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.verticalFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(48, 48, 48);
}
.titleBackground{
    background-color: #f9ddb6;
    padding: 2rem;
    border-radius: 50rem;
    margin-top: 5rem;
}
@keyframes leftToRight {
    from{transform: translateX(-11px);}
    to{transform: translateX(0px);}
}
@keyframes scale {
    from{transform: scale(.95);}
    to{transform: scale(1);}
}
.logo{
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
}
.buyButton{
    background-color: #ff780a;
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 12px;
    transition: .2s ease;
    transform-origin: 50% 50%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
#boxIconBtn{
    font-size: 18px;
}